{% extends 'base.html.twig' %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/donate_join.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid" id="donate_join_bg">
        <h1>Vous souhaitez soutenir financièrement notre association?</h1>

        <img id="travaux" alt="travaux" src="{{ asset('images/travaux.jpg') }}">

        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dolor metus, sodales pulvinar vulputate
            sit amet,
            tempor nec ex. Donec auctor, ante ac tempor vestibulum, nisl dolor aliquet tellus, quis tincidunt nulla erat
            id
            lacus. Suspendisse a egestas libero. Phasellus suscipit orci eu sapien maximus viverra. Orci varius natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla orci erat, laoreet vitae suscipit
            ac,
            vulputate at mi. Nulla facilisi. In at metus magna. Interdum et malesuada fames ac ante ipsum primis in
            faucibus.
        </p>

        <button class="btn btn-warning"><a href="https://www.helloasso.com/">Faire un don</a></button>
    </div>
{% endblock %}

