{% extends 'base.html.twig' %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/donate_join.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid" id="donate_join_bg">
        <div class="col-md-6 col-md-offset-6" id="opal_bg">
            <div class="part-right">
                <h1 class="sous-titre">Saisir une nouvelle observation:</h1>
                <p class="accroche">Vous avez eu l'opportunité d'observer un oiseau lors de vos promenades ou même dans
                    votre jardin? Vous pouvez nous aider à réaliser à un inventaire des espèces de nos régions.<br/>
                    Complétez ce formulaire pour nous envoyer une observation.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

