{% extends 'base.html.twig' %}

{% block navi5 %}
    <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true"
           aria-expanded="false">Mon Compte<span class="sr-only">(current)</span><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Se Connecter</a></li>
            <li><a href="{{ path('account') }}">Mon Compte</a></li>
            <li><a href="{{ path('create_account') }}">Créer un compte</a></li>
        </ul>
    </li>
{% endblock %}

{% block body %}

    <h1>Creer un Compte</h1>

    <img id="travaux" alt="travaux" src="{{ asset('images/travaux.jpg') }}">

{% endblock %}