{% extends 'base.html.twig' %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block navi5 %}
    <li class="dropdown active">
{% endblock %}

{% block body %}
<div class="container-fluid" id="login_bg">
    <h1>Se connecter</h1>

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Login :</label>
        <input type="text" id="username" name="_username" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />
        <input type="hidden" name="_target_path" value="account" />
        <br />
        <input type="submit" value="Connexion" />
    </form>
</div>
{% endblock %}