{% extends 'base.html.twig' %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block navi5 %}
    <li class="dropdown active">
{% endblock %}

{% block body %}
    <div class="container-fluid content-test" id="login_bg">
        {% if error %}
            <div class="alert alert-danger">Erreur de connexion vérifiez vos identifiants. ({{ error.message }})</div>
        {% endif %}
        <div class="col-md-6 col-md-offset-6" id="opal_bg">
            <div class="part-right">
                <div class="col-md-6 col-md-offset-6" id="opal_bg">
                    <div class="part-right">
                        <h1>Se connecter</h1>
                        <form action="{{ path('login_check') }}" method="post">
                            <label for="username">Login :</label>
                            <input type="text" id="username" name="_username" /> <br/>

                            <label for="password">Mot de passe :</label>
                            <input type="password" id="password" name="_password" />
                            <input type="hidden" name="_target_path" value="account" />
                            <br />
                            <button type="submit" class="btn-form" value="Connexion" > Connexion </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}