h1{ font-weight: bold; font-size: 2em; }

h2{ font-size: 1.7em; font-weight: bold; }

h3{ font-size: 1.4em; font-weight: bold; }

.imageArticle{   height: auto; max-width: 100% }

.ligne_verticale { padding-left: 20px; border-right:1px solid;  border-right-color: rgba(230, 230, 230, 0.6);  }

.article_recent {  margin-left: 20px;  }

.lire{ background-color: #288b90; border: none; font-size: 1.1em; }
.lire:hover{ background-color: #fe9a04; border: none; font-size: 1.1em; }

.ecrit{ font-style: italic; }


/*recentrer le pager*/
.pager { margin-left: -200px; }

/*@media screen and (min-width: 769px) and (max-width: 2000px)
{
    .pager { margin-left: 1px; }
}

@media screen and (min-width: 200px) and (max-width: 768px)
{
    .pager { margin-left: 1px; }
}*/



@media (max-width: 768px)
{
    .pager { margin-left: 1px; }
}

/*@media (max-width: 384px)
{
    .pager { margin-left: 1px; }
}*/

