<<<<<<< HEAD
legend
{
    color: orange;
    text-shadow: black 0.1em 0.05em 0.07em
}
p.contact
{
    color: white
}

h1.contact
{
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}
=======
body{ background-image: url("../images/contact.jpg"); background-repeat:no-repeat; background-attachment:fixed;}

legend{ color: orange; text-shadow: black 0.05em 0.05em; font-weight: bold;  }
>>>>>>> contact

h2.contact
{
    color: white;
    margin-left: 8%;
}

<<<<<<< HEAD
.well.contact
{
    background-color: rgba(255, 255, 255, 0.4);
    padding-bottom: 50px; }

#maps
{
    height: 400px;
}
=======
h1{ color: white; font-size: 2.5em; font-weight: bold; text-shadow: 0.05em 0.05em rgba(63,107,169, 0.7); }

h2{ color: white; margin-left: 10%; text-shadow: 0.05em 0.05em rgba(63,107,169, 0.7); font-size: 1.5em; }
>>>>>>> contact

/* Background */
div.container-fluid#contact_bg
{
    width: auto;
    height: auto;
    background: url("../images/fond_contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 110px;
}

<<<<<<< HEAD
=======
.form-group ul{ color:#e01f0b; font-weight: bold; font-size: 1.2em; text-shadow:  0.05em 0.05em rgba(63,107,169, 0.5); }

#maps{ height: 400px; }
>>>>>>> contact
