legend
{
    color: orange;
    text-shadow: black 0.1em 0.05em 0.07em
}
p.contact
{
    color: white
}

h1.contact
{
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}

h2.contact
{
    color: white;
    margin-left: 8%;
}

.well.contact
{
    background-color: rgba(255, 255, 255, 0.4);
    padding-bottom: 50px; }

#maps
{
    height: 400px;
}

/* Background */
div.container-fluid#contact_bg
{
    width: auto;
    height: auto;
    background: url("../images/fond_contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 110px;
}

