.part-right {
    padding-top: 5%;
    padding-bottom: 42%;
    margin-right: -6%;
    padding-right: 2%;
}

.sous-titre {
    color: #288B90;
    font-size: 30px;
}

.accroche {
    color: black;
    font-size: 18px;
}

.button-inscription {
    background-color: #288B90;
    color: white;
    border-radius: 20px;
    border: none;
    width: 90px;
    height: 40px;
    margin-top: 1px;
}

body {
    background-image: url("../images/fond_landing.jpg");
    background-size: cover;
    background-position: 0 -100%;
    background-repeat: no-repeat;
}