.content-body{
    width: auto;
    height: auto;
    background: url("../images/fond_call_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 110px;
}
h1 {
    text-align: center;
}
.form-login{
    text-align: center;
}
.form-login input {
    width: 100%;
}
.contenulogin {
    margin-top: 10vh;
}
.div.opal_bg.contenulogin
{
    margin-left: 30px;
}
