/* General */
.container-fluid
{
    padding-right: 0;
    padding-left: 0;
}
body {
    font-family: Mitr, SansSerif;
    color: #321c0e;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

p {
    font-size: 14px;
}

a {
    color: #288b90;
}

/* TEST Ajustement de la fenetre */
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.content-body {
    min-height: 83vh;
    margin-top: 110px;
}

footer {
    position: absolute;
    right: 0;
    left: 0;
}

/* Header */
header#nao_header
{
    margin-left: 0;
    margin-right: 0;
}

#top_button_bar {
    padding-right: 0;
    padding-top: 10px;
    margin-bottom: 20px;
}

#top_button_bar_xs {
    display: none;
}

.donate
{
    background-color: #FE9A04;
    color: white;
    margin-left: 5px;
    border: none;
}
.donate:hover
{
    transition: width 1s linear, background-color 1s linear;
    background: #FFB604;
    color: white;
}

.join
{
    background-color: #288B90;
    color: white;
    margin-left: 5px;
    border: none;
}
.join:hover
{
    transition: width 1s linear, background-color 1s linear;
    background: #289490;
    color: white;
}

.faceb {
    color: white;
    background-color: #4862a3;
    border: none;
}
img#logo_nao {
    height: 80px;
    width: auto;
    margin-left: 10px;
}
.navbar-default {
    background-color: white;
    border-bottom: solid 5px #FE9A04;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    z-index: 1;
}
.navbar-default .navbar-nav > li > a {
    color: #288B90;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
    color: #288B90;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #288B90;
    color: white;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover,
    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu>li>a
{
    background-color: white;
    color: #288B90;
}
div#nao-navbar
{
    padding-right: 10px;
}
form.navbar-form.navbar-right
{
    margin-right: 0;
}

#fa-home_active {
    color: white;
}

.fa-home {
    color: #288B90;
}

#btn_search {
    background-color: white;
    color: #288B90;
    border: solid 1px #CCC;
}

#btn_search:hover {
    background-color: #288B90;
    color: white;
}

/* Boutons */

a.btn.pull-right.btn-sm.faceb:hover
{
    color: white;
}
.btn.btn_form
{
    color: #288B90;
    text-shadow: 1px 1px 2px white;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 15px;
    margin-bottom: 15px;
    width: 150px;
}
.btn.btn_form:hover
{
    transition: width 1s linear;
    border: solid 2px #288B90;
    color: #288B90;
    margin-bottom: 13px;
    width: 175px;
}
.btn_form-orange
{
    color:#FE9A04;
    text-shadow: 1px 1px 2px white;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 15px;
    margin-bottom: 15px;
    width: 150px;
}
.btn_form-orange:hover
{
    transition: width 1s linear;
    border: solid 2px #FE9A04;
    color: #FE9A04;
    margin-bottom: 13px;
    width: 175px;
}
/* Formulaires */
label
{
    margin-left: 15px;
    padding-top: 10px;
}
input[type="file"]
{
    width: 290px;
}

h1.sous-titre, h2.sous-titre
{
    padding-top: 10px;
    text-shadow: 2px 2px 2px #288B90;
}

/* Footer */


footer.row.footer
{
    margin-right: 0;
    text-align: center;
}
.breadcrumb {
    background-color: white;
    margin-bottom: 0;
}
.breadcrumb>li>a
{
    color: #7d736a;
}
img#europe_img
{
    height: 30px;
}

/* Erreurs */
span.help-block>ul>li
{
    color: #321c0e;
    background-color: rgba(16,55,56,0.2);
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

/* Backgrounds */
div#opal_bg
{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    right: 20px;
}


/*Media Queries*/

@media screen and (min-width: 992px) {
    .navbar-brand > img {
        /*display: none;*/
        position: absolute;
        height: 80px;
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    div#opal_bg.col-md-6.col-md-offset-6
    {
        padding-top: 5px;
        left: 0;
    }
    div.container-fluid#observation_bg
    {
        background-position-x: -660px;
    }
    div.container-fluid#landing
    {
        background-position: -330px;
    }
    div.container-fluid#contact_bg
    {
        background-position: -1000px;
        background-size: initial;
    }
    img#logo_nao {
        display: none;
    }

}

@media (max-width: 767px) {
    #top_button_bar_xs {
        margin-bottom: 5px;
        margin-top: 10px;
        display: block;
        position: fixed;
        z-index: 2;
    }
    a.btn.pull-right.btn-sm.faceb
    {
        margin-left: 10px;
    }
    #top_button_bar
    {
        display:none;
    }

    ul.nav.navbar-nav.navbar-right
    {
        padding-left: 15px;
    }
    div.form-group
    {
        padding-left: 10px;
    }
    form.navbar-form.navbar-right
    {
        text-align: center;
    }
    .content-body {
        min-height: 83vh;
        margin-top: 70px;
    }
}
@media (min-width: 767px) and (max-width: 1229px){
    .content-body {
        min-height: 83vh;
        margin-top: 170px;
    }
}

