
textarea#observation_observationMsg.form-control
{
    height:100px;
}

/* Background */
div.container-fluid#observation_bg
{
    width: auto;
    height: 670px;
    background: url("../images/fond_observation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 110px;
}
