{% extends 'base.html.twig' %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block navi1 %}
    <li class="active"><a href="{{ path('home_page') }}"><i id="fa-home_active" class="fa fa-home"
                                                            aria-hidden="true"></i> Accueil<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="calls_to_action_bar">
        <div class="col-md-4" id="call_observer">
            <h2>Observation</h2>
            <p>Inter haec Orfitus praefecti potestate regebat urbem aeternam ultra modum delatae dignitatis sese
                efferens insolenter, vir quidem prudens et forensium negotiorum oppido gnarus, sed splendore
                liberalium.</p>
            <button class="btn btn_default">Observer</button>
        </div>
        <div class="col-md-4" id="call_consultation">
            <h2>Consultation</h2>
            <p>Inter haec Orfitus praefecti potestate regebat urbem aeternam ultra modum delatae dignitatis sese
                efferens insolenter, vir quidem prudens et forensium negotiorum oppido gnarus, sed splendore
                liberalium.</p>
            <button class="btn btn_default">Consulter</button>
        </div>
        <div class="col-md-4" id="call_blog">
            <h2>Blog</h2>
            <p>Inter haec Orfitus praefecti potestate regebat urbem aeternam ultra modum delatae dignitatis sese
                efferens insolenter, vir quidem prudens et forensium negotiorum oppido gnarus, sed splendore
                liberalium.</p>
            <button class="btn btn_default">Blog</button>
        </div>
    </div>
    <div class="container_fluid" id="information_bar">
        <div class="col-md-5" id="informations">
            <h2>Qui sommes-nous?</h2><br>
            <p>Nos amis les oiseaux est une association regroupant des passionnés d'ornithologie. Elle compte, à ce
                jour, plus de 800 adhérents qui contribuent chaque jour à la faire vivre. Notre site a pour objectif de
                collecter des informations qui permettront d'étudier les effets du climat, de l'urbanisation et de
                l'agriculture sur la biodiversité. Grâce à vous, adhérents ou simples contributeurs, nous souhaitons
                recueuillir vos observations à travers ce site participatif.</p>
        </div>
        <div class="col-md-5" id="newsletter">
            <h2>Newsletter</h2><br>
            <p>Pour recevoir nos informations, abonnez-vous à notre newsletter</p>
            <form action="#" id="form_home">
                <div class="form-group">
                    <input type="email" placeholder="Email" class="form-control" id="email">
                </div><br>
                <button class="btn form-control" id="email">Je m'inscris</button>
            </form>
        </div>
    </div>

{% endblock %}