<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

    <p><strong>Nom de la personne:</strong>  {{ formulaire.lastName }} </p>
    <p><strong>Prénom de la personne:</strong> {{ formulaire.firstName }}</p>
    <p><strong>Email de la personne:</strong> {{ formulaire.mail }}</p>
    <p><strong>Message:</strong></p>
    <p><i>{{ formulaire.message }}</i></p>

</body>
</html>